
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Dog Location</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">Dog location</h3>
      </div>

      <div class="jumbotron">
        <h1>Encuentre a su mejor amigo perdido</h1>
        <p class="lead"></p>
        
       <!-- <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Prediccion</a></p>  -->      

        <!-- <form method="post" enctype="multipart/form-data" id="image_upload_form" action="submit_image.php"> -->
          <input type="file" name="images" id="images" multiple accept="image/x-png, image/gif, image/jpeg, image/jpg" />
          <button type="submit" id="btn">Upload Files!</button>
        <!-- </form> -->
        <div id="response"></div>
        <ul id="image-list">
        </ul>
  
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Mascotas perdidas</h4>
          <p>Ingrese la imagen se su perro perdido.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Saxsa 2017</p>
      </footer>

    </div>
  </body>
</html>

